
body > div {
  background-color: #40A3FD;
}
md-card {
  padding: 20px;
  background-color: #fff;
}
.long input {
  width: 100%;
}
button.md-primary {
  margin: 1em !important;
  padding: 10px 30px !important;
  background-color: #40A3FD !important;
}
button.md-primary:hover {
  background-color: #4F94D3 !important;
}
.well {
  background-color: #eee;
  border-radius: 10px;
  padding: 20px;
}
.well h3 {
  text-align: center;
}
.attendees > div {
  border-bottom: 1px solid #000;
}
.table md-button {
  margin: 0;
}
.text-center {
  text-align: center;
}
md-backdrop, .md-dialog-container {
  position: fixed !important;
}
#client {
  position: fixed;
  width: 49%;
}