body {
  background-color: #40A3FD;
}
.card {
  border-radius: 3px;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.3);
}
.btn-primary {
  color: #fff !important;
  margin: 1em !important;
  padding: 10px 30px !important;
  background-color: #40A3FD !important;
  border-color: #0086FC;
}
.btn-primary:hover {
  background-color: #4F94D3 !important;
}
div[ng-messages] {
  color: red;
}
table input {
  border:none;
  border-bottom: 2px solid transparent;
  background: transparent;
}
table input:hover, table input:focus {
  outline: 0;
  border-bottom: 2px solid #40A3FD;
  transition: border 0.50s ease;
}